.thead{
  background-color: rgb(42,67,141);
}
.container{
  display: flex;
  justify-content: center;
  align-items:center;
  height:50vh;
}


table {
    width: 50%;

    border-collapse: collapse;
    background-color: #a2b674;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #8b9e61;
  }
  
  th {
    background-color: #828855;
  }
  
 
  
  