* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background: linear-gradient(to right bottom, #dfad17, #bce65a);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 50%;
  background-attachment: fixed;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  display: flex;
}

.box {
  padding: 0 5px  5px;
}

.container {
  width: 520px;
  margin: auto;
  padding: 36px 48px 48px 48px;
  background-color: #81f4f4;

  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(221, 25, 25, 0.15);
}

#loginform{
  margin-top: 3%;
}


.login-title {
  padding: 15px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
}

.login-form input {
  width: 90%;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
}

.login-form input:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(234, 141, 65, 0.5);
}

.btn--form {
  background-color: #c0b8b8;
  color: #d8c4af;
  align-self: end;
  padding: 8px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  border-radius: 9px;
  border: none;

  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

button {
  outline: 1px solid #615e5e;
}

.btn--form:hover {
  background-color: #e68231;
  color: #82d2f4;
}
